<body>
 <div id="sidemenu" class="menu-collapsed">
    <!--HEADER-->
    <div id="header">
        <div id="title"><span>Pokedex Trainer Profile</span></div>
        <div id="menu-btn">
            <div class="btn-hamburguer"></div>
            <div class="btn-hamburguer"></div>
            <div class="btn-hamburguer"></div>
        </div>
    </div>
         
    <!--PROFILE-->
    <div id="profile">
        <div id="photo"><img src="assets/img/profile.jpeg" alt="Perfil"></div>

        <div id="name"><span>Mane</span></div>
    </div>

    <!--ITEMS-->
    <div id="menu-items">
        <div class="item">
            <a href="#">
                <div class="icon"><img src="assets/icons/poke_logo.png" alt="Poketeam"></div>
                <div class="title">Inicio</div>
            </a>
        </div>
        <div class="item separator">
            
        </div>
        <div class="item">
            <a href="#">
                <div class="icon"><img src="assets/icons/poke_logo.png" alt="Poketeam"></div>
                <div class="title">PokeTeam</div>
            </a>
        </div>
    </div>  
 </div>
</body>