@import url('https://fonts.cdnfonts.com/css/poppins');


.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 4rem;
    background-color: rgb(12, 10, 48);
    
    
    
}

.carp{
    background-color: rgb(192, 199, 209);
    box-shadow: 9px 9px teal;
    border-radius: 60px;
    padding: 1rem 1rem 0.5rem 4rem;
    margin-bottom: 2rem;
 
}
.poke_img{
    margin: auto -0.5rem;
    height: 180px;
    
}

.title{
    justify-content: center;
    text-transform: capitalize;
    font-family: sans-serif;
    text-shadow: 1.5px 1px teal;
    
    h3{
        margin-left: 5rem;
    }
}

.types{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   font-family: sans-serif;
   
}

.filter{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: rgb(12, 10, 48);
    padding-top: 3rem;
    margin: 0 auto;
    .search{
        height: 50px;
        width: 70%;
        border-radius: 60px;
        font-size: 25px;
        font-family: sans-serif;
        text-align: center;
        margin-left: 2.8rem 
        }
        

}




