<div class="filter">
    <input type="text" class="search" name="filterPoke" placeholder="Find your Pikachu..." [(ngModel)]="filterPoke">
  </div>
  <div class="table">
    <div class="carp" *ngFor="let pokemon of pokemons | filter:filterPoke; index as i">
      <div class="title">
        <h2>{{pokemon.name}}</h2>
        <h3>No.{{pokemon.id}}</h3>
      </div>
      <img class="poke_img" src={{pokemon.sprites.front_default}} alt="Pokemon">
      <div class="types">
        <h4 *ngFor="let atribute of pokemon.types">{{atribute.type.name}}</h4>
      </div>
      <button *ngIf="!selectedPokemons.includes(pokemon)" (click)="addPokemon(pokemon)">Add to team</button>
      <button *ngIf="selectedPokemons.includes(pokemon)" (click)="removePokemon(pokemon)">Remove from team</button>
    </div>
  </div>