*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    
};


:root{
    --width: 300px;
    --padding: 10px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(23, 23, 23);
    --width-collapsed: 50px;
}
